<div class="jumbotron" style="height: 90%; padding-top: 5%">
    <h2>You have {{userList?.length}} incoming request(s)</h2>
    <div style="margin-top: 1%" class="container">
      <div *ngFor="let user of userList" class="item" (click)="goToProfile(user.Id)"> 
        <div class="row">
          <div class="col-sm-4 text-center row">  
            <div class="col-sm-4 text-center"  style="margin: 0">
              <button type="button" style="width: 100%" (click)="goToChat(user.Id)"><i class="fas fa-comment-dots"></i></button>
              <button type="button" style="width: 100%" (click)="deleteFriendRequest(user.Id)"><i class="fas fa-user-minus"></i></button>
              <button type="button" style="width: 100%" (click)="confirmFriendRequest(user.Id)"><i class="fas fa-user-plus"></i></button>
              <button type="button" style="width: 100%"  (click)="addToBlackList(user.Id)"><i class="fas fa-lock"></i></button>
            </div> 
            <div class="col-sm-8 text-center">
              <img class="avatar" style="margin-top: 1%" src="https://localhost:44394{{user.PhotoPath}}" /><br/>
            </div>
          </div> 
          <div class="col-sm-6">
            <h1>{{user.Name}}, {{user.Age}}</h1><br />
            <div style="margin-left: 10px"><i class="fas fa-venus-mars"></i>{{user.Sex}}</div> 
          </div>
        </div> 
      </div>
    </div>
  </div>
 