<div class="jumbotron" style="height: 90%; padding-top: 1%">
    <h2>You have {{userList?.length}} incoming request(s)</h2>
    <div style="margin-top: 1%" class="container">
      <div *ngFor="let user of userList" class="item" (click)="goToProfile(user.Id)"> 
        <div class="row">
          <div class="col-sm-4 text-center row">  
            <div class="col-sm-4 text-center"  style="margin: 0"> 
              <button Title="Reject" type="button" style="width: 100%" (click)="deleteFriendRequest(user.Id)"><i class="fas fa-user-minus"></i></button>
              <button Title="Confirm" type="button" style="width: 100%" (click)="confirmFriendRequest(user.Id)"><i class="fas fa-user-plus"></i></button>
              <button Title="Add to BlackList" type="button" style="width: 100%"  (click)="addToBlackList(user.Id)"><i class="fas fa-lock"></i></button>
            </div> 
            <div class="col-sm-8 text-center">
              <img class="avatar" style="margin-top: 1%" src="https://localhost:44394{{user.PhotoPath}}" /><br/>
            </div>
          </div> 
          <div class="col-sm-6">
            <div class="row">
                <div class="row">
                  <div *ngIf="user.IsOnline" style="border-radius:50%; width: 10px; height: 10px; background-color: lawngreen; margin:3%;"></div>
                  <div *ngIf="!user.IsOnline" style="border-radius:50%; width: 10px; height: 10px; background-color:darkgrey; margin:3%;"></div>
                  <h1>{{user.Name}}, {{user.Age}}</h1> 
                </div>          
            <div style="margin-left: 10px"><i class="fas fa-venus-mars"></i>{{user.Sex}}</div> 
          </div>
        </div> 
      </div>
    </div>
  </div>
 