<div class="jumbotron">
    <div class="container">
        <div class="row">
                <div class="col-md-10 offset-md-1"> 
                        <form [formGroup]="editInfoForm" (ngSubmit)="onSubmit()"> 
            <fieldset>
<h2>Account Info</h2> 
<div class="form-group"> 
    <input type="text" [value]="userProfile.Name" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" placeholder="Name ..." />
    <!-- <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
        <div *ngIf="f.Name.errors.required">Name is required</div> 
    </div> -->
</div> 
<div class="form-group"> 
    <input type="password" formControlName="OldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.OldPassword.errors }" placeholder="OldPassword ..." />
    <!-- <div *ngIf="submitted && f.OldPassword.errors" class="invalid-feedback">
        <div *ngIf="f.OldPassword.errors.required">OldPassword is required</div> 
    </div> -->
</div>  
<div class="form-group"> 
    <input type="password" formControlName="NewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" placeholder="NewPassword ..." />
    <!-- <div *ngIf="submitted && f.OldPassword.errors" class="invalid-feedback">
        <div *ngIf="f.OldPassword.errors.required">OldPassword is required</div> 
    </div> -->
</div>
<div *ngIf="userProfile.IsAnonimus" class="form-group" id="anon"> <label for="anon">IsAnonimus</label><br/>
    <input type="radio" [value]="true" checked formControlName="IsAnonimus" [ngClass]="{ 'is-invalid': submitted && f.Growth.errors }" id="true" placeholder="IsAnonimus true ..." /><label for="true">true</label><br/>
    <input type="radio" [value]="false" formControlName="IsAnonimus" [ngClass]="{ 'is-invalid': submitted && f.Growth.errors }" id="false" placeholder="IsAnonimus false ..." /><label for="false">false</label>
</div> 
<div *ngIf="!userProfile.IsAnonimus" class="form-group" id="anon"> <label for="anon">IsAnonimus</label><br/>
    <input type="radio" [value]="true" formControlName="IsAnonimus" [ngClass]="{ 'is-invalid': submitted && f.Growth.errors }" id="true" placeholder="IsAnonimus true ..." /><label for="true">true</label><br/>
    <input type="radio" [value]="false" checked formControlName="IsAnonimus" [ngClass]="{ 'is-invalid': submitted && f.Growth.errors }" id="false" placeholder="IsAnonimus false ..." /><label for="false">false</label>
</div> 
<div class="form-group" style="width: 100%">
    <button type="submit" class="btn" style="width: 100%">Save</button>
</div>
</fieldset>
</form>
</div></div></div></div> 