
.container {
    display: grid;
    grid-template-columns: repeat(1, 125px);
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left:0;     
    vertical-align: top;
    align-content: flex-start;
  }
  
  .container>.item {
    padding: 12px; 
    align-content: center;
    background-color: #090909;
  }
  
  .avatar {
    object-fit: cover;
    border-radius:50%;
    width: 100px;
    height: 100px;
  }

  h2{ 
    color: #fff;
  }

  label{
    color: #adadad;
  }

  