<div *ngIf="IsLoad">
  <div style="position: inherit" class="row">
      <img src="https://localhost:44394{{userProfile.PhotoPath}}" (click)="open()" style="max-width: 350px; max-height: 350px;" class="pre-image">
      <div style="color:#ffff; margin-left:-5%;height: 50%; background-color: #2e3137; padding-top: 1%;"> 
        <label>&nbsp;&nbsp;<i class="far fa-eye"></i>&nbsp;</label>{{userProfile.Views}}&nbsp;&nbsp;<br/>
        <label>&nbsp;&nbsp;<i class="fas fa-comments"></i>&nbsp;</label>{{userProfile.ReplyRate}}&nbsp;&nbsp;
      </div>
  </div>
  <div class="jumbotron" style="height: auto; padding-top: 3%;">
    <div class="container"> 
        <span *ngIf="userProfile.IsOnline" style="float:right; font-size: 80%; color:darkgrey;">last seen {{this.datepipe.transform(userProfile.IsOnline, 'MMMM d, h:mm a')}}</span>
        <span *ngIf="!userProfile.IsOnline" style="float:right; font-size: 80%; color:darkgrey;">online</span><br/> 
      <div *ngIf="userProfile" class="form-row" style="margin:20px"> 
        <div class="col-md-3 text-center" style="margin-left: 15px">
          <img src="https://localhost:44394{{userProfile.PhotoPath}}" (click)="open()" class="avatar" style="max-width: 215px; max-height: 215px;"><br/> 
          <div class="text-center" style="margin:5px 10px 5px 10px">
            <button class="col-3" type="button" onclick="document.getElementById('id01').style.display='block'" [disabled]="(userId==0) || (userProfile.IsIBlack)"><i class="fas fa-comment-dots"></i></button>
            <button class="col-3" type="button" (click)="goToAlbums(userProfile.Id)" [disabled]="userProfile.IsIBlack"><i class="fas fa-images"></i></button>
            <button class="col-3" type="button" (click)="deleteFriendRequest(userProfile.Id)" [disabled]="(userId==0) || (userProfile.IsIBlack)" *ngIf="userProfile.IsFriend"><i class="fas fa-user-minus"></i></button>
            <button class="col-3" type="button" (click)="sendFriendRequest(userProfile.Id)" [disabled]="(userId==0) || (userProfile.IsIBlack)" *ngIf="!userProfile.IsFriend"><i class="fas fa-user-plus"></i></button>
            <button class="col-3" type="button" (click)="addToBlackList(userProfile.Id)" [disabled]="userId==0" *ngIf="!userProfile.IsBlack"><i class="fas fa-lock"></i></button>
            <button class="col-3" type="button" (click)="removeFromBlackList(userProfile.Id)" [disabled]="userId==0" *ngIf="userProfile.IsBlack"><i class="fas fa-lock-open"></i></button>
            <br/><br/><br/>
          </div>
        </div>  
        <div class="col-md-3 offset-md-1" *ngIf="!userProfile.IsIBlack">
          <div><h2>{{userProfile.Name}}, {{userProfile.Age}}</h2></div>  
          <div *ngIf="userProfile.Sex"><b>Sex: </b>{{userProfile.Sex.Value}}</div> 
          <div *ngIf="userProfile.MainGoal"><b>MainGoal: </b>: {{userProfile.MainGoal.Value}}</div> 
          <div *ngIf="userProfile.FamilyStatus"><b>FamilyStatus:</b> {{userProfile.FamilyStatus.Value}}</div> 
          <div *ngIf="userProfile.FinanceStatus"><b>FinanceStatus:</b> {{userProfile.FinanceStatus.Value}}</div> 
          <div *ngIf="userProfile.Education"><b>Education:</b> {{userProfile.Education.Value}}</div> 
          <div *ngIf="userProfile.Nationality"><b>Nationality:</b> {{userProfile.Nationality.Value}}</div> 
          <div *ngIf="userProfile.Zodiac"><b>Zodiac:</b> {{userProfile.Zodiac.Value}}</div> 
          <div *ngIf="userProfile.Growth"><b>Growth:</b> {{userProfile.Growth}} m</div> 
          <div *ngIf="userProfile.Weight"><b>Weight:</b> {{userProfile.Weight}} kg</div>
        </div> 
        <div class="col-md-3" style="margin-top: 5%" *ngIf="!userProfile.IsIBlack">
          <ul *ngIf="userProfile.Languages.length!=0"> <b>Languages:</b>
            <li *ngFor="let lang of userProfile.Languages">{{lang.Value}}</li> 
          </ul> 
          <ul *ngIf="userProfile.BadHabits.length!=0"> <b>BadHabits: </b>
            <li *ngFor="let b of userProfile.BadHabits">{{b.Value}}</li> 
          </ul>
          <ul *ngIf="userProfile.Interests.length!=0"> <b>Interests:</b> 
            <li *ngFor="let i of userProfile.Interests">{{i.Value}}</li> 
          </ul>
        </div> 
        <div class="col-md-3" *ngIf="userProfile.IsIBlack">
          <div> 
            <label><i class="fas fa-user-lock"></i>You are in blackList</label> 
          </div>  
        </div> 
      </div>
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:650px"> 
          <div class="w3-center"><br>
            <i class="fas fa-times" style="margin-top: -3%; float: right; margin-right: 1%; cursor: pointer;" onclick="document.getElementById('id01').style.display='none'"></i>
            <div *ngIf="IsOpenEmoji" class="row" style="width: 100%; margin-left: 1%; margin-top: -1%;">
                <div style="margin-top: 1%" class="container-chat">
                  <div *ngFor="let em of Emojies.Emoji" class="item" (click)="outgoingMessage.Text = outgoingMessage.Text + em">
                      {{em}}
                  </div>
                </div>
            </div>
            <div class="row" style="width: 98%; margin-left: 1%;">
                <textarea class="col-11" rows="12" cols="60" [(ngModel)]="outgoingMessage.Text" style="resize: none"></textarea>
                <i class="far fa-laugh"style="position: absolute; margin-left: 86%; margin-top: 1%; cursor: pointer;" (click)="IsOpenEmoji=!IsOpenEmoji"></i> 
                <button class="col-1" (click)="onSendMessage()"><i class="fas fa-envelope"></i></button> 
            </div>
            <div class="row" style="width: 98%; margin-left: 1%; margin-bottom: -2%;">      
              <ngx-dropzone style="max-height: 50px;" class="col-11" #dropzone [multiple]="true" [accept]="'image/*'" [maxFileSize]="5242880" [showPreviews]="true" (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)"></ngx-dropzone>
              <button class="col-1" (click)="dropzone.reset()" ><i class="fas fa-trash-alt"></i></button> 
            </div><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div *ngIf="!IsLoad" class="text-center">
  <img style="width: 100px; height: 100px;" src="http://gorny-orel.com/static/img/loader.4668c8a19a96.gif">
</div>