<input type="checkbox" id="hmt" class="hidden-menu-ticker">
<label class="btn-menu" for="hmt">
  <span class="first"></span>
  <span class="second"></span>
  <span class="third"></span>
</label>

<div class="hidden-menu">
  <h2 style="color:#ffff">Search filters </h2>
  <div class="row" style="padding-top: 2%">
      <button class="btn btn-primary" style="width: 100%" (click)="onSearch()"><i class="fas fa-search"></i></button>
  </div>
  <div class="row form-group"> 
    <label class="text-transform: uppercase; font-size: 0.9rem;">Age From</label>
    <input [(ngModel)]="searchData.AgeFrom" type="text" class="form-control form-control-sm" placeholder="AgeFrom" />
    <label class="text-transform: uppercase; font-size: 0.9rem;">Age To</label>
    <input [(ngModel)]="searchData.AgeTo" placeholder="AgeTo" class="form-control form-control-sm" type="text" />
  </div>
  <div  class="row form-group">
    <label>NetworkStatus</label>
    <select [(ngModel)]="searchData.NetworkStatus"  class="form-control form-control-sm" title="Sex...">
        <option [value]="true">Online</option>
        <option [value]="false">Offline</option>
    </select>
    <!-- <input type="radio" [value]="true" [(ngModel)]="searchData.NetworkStatus"/><label style="font-size: 90%;">Online</label><br/>
    <input type="radio" [value]="false" [(ngModel)]="searchData.NetworkStatus"/><label style="font-size: 90%;">Offline</label>  -->
  </div>
  <div class="row form-group"> 
    <label>Sex</label>
    <select multiple [(ngModel)]="searchData.Sex"  class="form-control form-control-sm" title="Sex...">
             <option *ngFor="let item of staticInfo.Sexes" [value]="item.Id">{{item.Value}}</option>
         </select>
  </div>
  <div class="row form-group">
    <label>BadHabit</label>
    <select multiple [(ngModel)]="searchData.BadHabit" class="form-control form-control-sm" title="BadHabits...">
      <option *ngFor="let item of staticInfo.BadHabits" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>Education</label>
    <select multiple [(ngModel)]="searchData.Education" class="form-control form-control-sm" title="Education...">
      <option *ngFor="let item of staticInfo.Educations" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>FamilyStatus</label>
    <select multiple [(ngModel)]="searchData.FamilyStatus" class="form-control form-control-sm" title="FamilyStatus...">
      <option *ngFor="let item of staticInfo.FamilyStatuses" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>FinanceStatus</label>
    <select multiple [(ngModel)]="searchData.FinanceStatus" class="form-control form-control-sm" title="FinanceStatus...">
      <option *ngFor="let item of staticInfo.FinanceStatuses" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group"> 
    <label>Interest</label>
    <select multiple [(ngModel)]="searchData.Interest" class="form-control form-control-sm" title="Interest...">
      <option *ngFor="let item of staticInfo.Interests" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>Language</label>
    <select multiple [(ngModel)]="searchData.Language" class="form-control form-control-sm" title="Language...">
      <option *ngFor="let item of staticInfo.Languages" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>MainGoal</label>
    <select multiple [(ngModel)]="searchData.MainGoal" class="form-control form-control-sm" title="MainGoal...">
      <option *ngFor="let item of staticInfo.MainGoals" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>Nationality</label>
    <select multiple [(ngModel)]="searchData.Nationality" class="form-control form-control-sm" title="Nationality...">
      <option *ngFor="let item of staticInfo.Nationalities" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group">
    <label>Zodiac</label>
    <select multiple [(ngModel)]="searchData.Zodiac" class="form-control form-control-sm" title="Zodiac...">
      <option *ngFor="let item of staticInfo.Zodiacs" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row form-group" style="padding-top: 2%">
    <button class="btn btn-primary" style="width: 100%" (click)="onSearch()"><i class="fas fa-search"></i></button>
  </div> 
</div>

<!-- <img src="https://www.conweso.de/wp-content/uploads/2016/07/arrow-24916_1280.png" style="position: relative; transform: rotate(-120deg); top:-150px; left:-50px; max-height: 200px; max-width: 75px"> -->
<div class="jumbotron" style="height: 100%; padding-top: 1%">

  <h2>Found {{userList?.length}} user(s)</h2>
  <div style="margin-top: 1%" class="container">
    <div *ngFor="let user of userList" class="item" (click)="goToProfile(user.Id)">
      <div class="row">
        <div class="col-sm-4 text-center"  style="padding-left: 0; padding-right: 0">
          <img class="avatar" src="https://localhost:44394{{user.PhotoPath}}" />
        </div>
        <div class="col-sm-7" style="padding-left: 0">
          <div class="row">
            <div *ngIf="user.IsOnline" style="border-radius:50%; width: 10px; height: 10px; background-color: lawngreen; margin:2%;"></div>
            <div *ngIf="!user.IsOnline" style="border-radius:50%; width: 10px; height: 10px; background-color:darkgrey; margin:2%;"></div>
            <h1>{{user.Name}}, {{user.Age}}</h1> 
          </div>          
          <div style="margin-left: 10px"><i class="fas fa-venus-mars"></i> {{user.Sex}}</div>
          <div style="margin-left: 10px"><i class="fas fa-search"></i> {{user.MainGoal}}</div>
        </div>
      </div>
    </div>
  </div>
</div>