<input type="checkbox" id="hmt" class="hidden-menu-ticker">
<label class="btn-menu" for="hmt">
  <span class="first"></span>
  <span class="second"></span>
  <span class="third"></span>
</label>

<div class="hidden-menu">
  <h2 style="color:#ffff">Search filters </h2>
  <div class="row" style="padding-top: 2%">
    <button style="width: 100%" type="button" (click)="onSearch()"><i class="fas fa-search"></i></button>
  </div>
  <div class="row">
    <!-- <select  class="form-control form-control-sm" title="Sex..."> -->
    <!-- <p class="my-menu-label" style="color:rgba(243, 243, 243, 0.394) ">Age:   </p>  -->
    <input [(ngModel)]="searchData.AgeFrom" type="text" class="form-control form-control-sm" placeholder="AgeFrom" />
    <input [(ngModel)]="searchData.AgeTo" placeholder="AgeTo" class="form-control form-control-sm" type="text" />
  </div>
  <div class="row">

    <!-- <mat-form-field>
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <select class="selectpicker" multiple title="Choose one of the following...">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select> -->
 

    <!-- <select  class="form-control form-control-sm" title="Sex..."> -->
    <!-- <p class="my-menu-label" style="color:rgba(243, 243, 243, 0.394) ">Sex:   </p>  -->
    <!-- <ng-select [(ngModel)]="searchData.Sex" [items]="staticInfo.Sexes" bindLabel="type"
             placeholder="Sex..."></ng-select>  -->


    <select multiple [(ngModel)]="searchData.Sex"  class="form-control form-control-sm" title="Sex...">
             <option *ngFor="let item of staticInfo.Sexes" [value]="item.Id">{{item.Value}}</option>
         </select>
  </div>
  <div class="row">
    <!-- <p  class="my-menu-label" style="color:rgba(243, 243, 243, 0.394) ">BadHabits:   </p>  -->
    <select multiple [(ngModel)]="searchData.BadHabit" class="form-control form-control-sm" title="BadHabits...">
      <option *ngFor="let item of staticInfo.BadHabits" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">Education:   </p>  -->
    <select multiple [(ngModel)]="searchData.Education" class="form-control form-control-sm" title="Education...">
      <option *ngFor="let item of staticInfo.Educations" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">FamilyStatus:   </p>  -->
    <select multiple [(ngModel)]="searchData.FamilyStatus" class="form-control form-control-sm" title="FamilyStatus...">
      <option *ngFor="let item of staticInfo.FamilyStatuses" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">FinanceStatus:   </p>  -->
    <select multiple [(ngModel)]="searchData.FinanceStatus" class="form-control form-control-sm" title="FinanceStatus...">
      <option *ngFor="let item of staticInfo.FinanceStatuses" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">Interests:   </p>  -->
    <select multiple [(ngModel)]="searchData.Interest" class="form-control form-control-sm" title="Interest...">
      <option *ngFor="let item of staticInfo.Interests" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">Languages:   </p>  -->
    <select multiple [(ngModel)]="searchData.Language" class="form-control form-control-sm" title="Language...">
      <option *ngFor="let item of staticInfo.Languages" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">MainGoals:   </p>  -->
    <select multiple [(ngModel)]="searchData.MainGoal" class="form-control form-control-sm" title="MainGoal...">
      <option *ngFor="let item of staticInfo.MainGoals" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">Nationalities:   </p>  -->
    <select multiple [(ngModel)]="searchData.Nationality" class="form-control form-control-sm" title="Nationality...">
      <option *ngFor="let item of staticInfo.Nationalities" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row">
    <!-- <p class="my-menu-label"  style="color:rgba(243, 243, 243, 0.394) ">Zodiacs:   </p>  -->
    <select multiple [(ngModel)]="searchData.Zodiac" class="form-control form-control-sm" title="Zodiac...">
      <option *ngFor="let item of staticInfo.Zodiacs" [value]="item.Id">{{item.Value}}</option>
    </select>
  </div>
  <div class="row" style="padding-top: 2%">
    <button style="width: 100%" type="button" (click)="onSearch()"><i class="fas fa-search"></i></button>
  </div>
  <!-- <form (ngSubmit)="onSubmit()">  
       <div class="form-group">
          <label>Sex:</label> 
          <input *ngFor="let z in zodiacs" type="checkbox" name="zodiacs">
      </div>
  </form> -->
</div>

<!-- <img src="https://www.conweso.de/wp-content/uploads/2016/07/arrow-24916_1280.png" style="position: relative; transform: rotate(-120deg); top:-150px; left:-50px; max-height: 200px; max-width: 75px"> -->
<div class="jumbotron" style="height: 100%; padding-top: 5%">

  <h2>Founded {{userList?.length}} user(s)</h2>
  <div style="margin-top: 1%" class="container">
    <div *ngFor="let user of userList" class="item" (click)="goToProfile(user.Id)">
      <div class="row">
        <div class="col-sm-4">
          <img class="avatar" src="https://localhost:44394{{user.PhotoPath}}" />
        </div>
        <div class="col-sm-7">
          <h1>{{user.Name}}, {{user.Age}}</h1><br />
          <div style="margin-left: 10px"><i class="fas fa-venus-mars"></i> {{user.Sex}}</div>
          <div style="margin-left: 10px"><i class="fas fa-search"></i> {{user.MainGoal}}</div>
        </div>
      </div>
    </div>
  </div>
</div>