
<br/>
<div *ngIf="userId==0" class="row" style="width: 100%; margin-left: 1%; max-height: 67%;"> 
    <!-- <input type="file" #Image accept="image/*" (change)="uploadPhoto($event.target.files)" class="form-control col-sm-6" placeholder="Photo..." />  -->
    <!-- <img [src]="imageUrl" style="max-height: 100px; max-width: 100px" class="col-sm-6"> -->
    <ngx-dropzone style="height: auto; max-height: 120px;" class="col-10" #dropzone [multiple]="true" [accept]="'image/*'" [maxFileSize]="5242880" [showPreviews]="true" (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)"></ngx-dropzone>
    <button Title="Upload images" class="col-1" (click)="onUploadFiles()"><i class="fas fa-folder-plus"></i></button>
    <button Title="Clear images" class="col-1" (click)="dropzone.reset(); onClearPhoto();"><i class="fas fa-folder-minus"></i></button>
</div> 
<div *ngIf="album.FilePathes.length<1" > 
    <label class="text-center">No Photo Yet</label>
</div>
<div *ngIf="album.FilePathes.length>0" style="padding-bottom: 1%;margin-top: 1%" class="container"> 
    <div *ngFor="let photo of album.FilePathes; let i = index" class="item text-center" >
      <button *ngIf="userId==0" (click)="onDeletePhoto(photo.Id)"  style="position: absolute;"><i class="fas fa-times"></i></button> 
      <img  (click)="open(i)" style="max-height: 200px; max-width: 200px;" src="https://localhost:44394{{photo.Value}}" /> 
    </div> 
</div>