<div class="form-group"> 
    <img [src]="imageUrl" style="max-height: 100%; max-width: 100%">
    <input type="file" #Image accept="image/*" (change)="uploadPhoto($event.target.files)" class="form-control" placeholder="Photo..." /> 
</div>
<div style="margin-top: 1%" class="container">
    <div *ngIf="album.FilePathes"> 
      <label style="margin-left: 7%">No Photo Yet</label>
    </div>
    <div *ngIf="!album.FilePathes"> 
      <div *ngFor="let photo of album.FilePathes" class="item">
        <button (click)="onDeletePhoto(album.Id)"><i class="fas fa-times"></i></button> 
          <img style="max-height: 100px; max-width: 100px;" src="https://localhost:44394{{photo}}" /> 
      </div>
    </div>
</div>