<div class="row"> 
    <input type="file" #Image accept="image/*" (change)="uploadPhoto($event.target.files)" class="form-control col-sm-6" placeholder="Photo..." /> 
    <!-- <img [src]="imageUrl" style="max-height: 100px; max-width: 100px" class="col-sm-6"> -->
</div>
<div *ngIf="album.FilePathes.length<1" class="text-center"> 
    <label class="text-center">No Photo Yet</label>
</div>
<div *ngIf="album.FilePathes.length>0" style="margin-top: 1%" class="container"> 
    <div *ngFor="let photo of album.FilePathes" class="item text-center" style="margin-bottom: 2%">
      <button (click)="onDeletePhoto(photo.Id)"  style="position: absolute;"><i class="fas fa-times"></i></button> 
      <img style="max-height: 190px; max-width: 190px;" src="https://localhost:44394{{photo.Value}}" /> 
    </div> 
</div>