<div class="jumbotron">
        <div class="container">
            <div class="row">
                    <div class="col-md-10 offset-md-1"> 
                            <form [formGroup]="firstLoginForm" (ngSubmit)="onSubmit()"> 
                <fieldset>
    <h2>Main Info</h2>
    <div class="form-group">
        <input type="date" formControlName="DateBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.DateBirth.errors }" placeholder="DateBirth..." />
        <div *ngIf="submitted && f.DateBirth.errors" class="invalid-feedback">
            <div *ngIf="f.DateBirth.errors.required">DateBirth is required</div> 
        </div>
    </div>
    <div class="form-group">
        <select formControlName="Sex" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sex.errors }" placeholder="Sex..." >
            <option *ngFor="let item of staticInfo.Sexes" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.Sex.errors" class="invalid-feedback">
            <div *ngIf="f.Sex.errors.required">Sex is required</div> 
        </div>
    </div>
    <div class="form-group">                       
        <select formControlName="MainGoal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MainGoal.errors }" placeholder="MainGoal..." >
            <option *ngFor="let item of staticInfo.MainGoals" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.MainGoal.errors" class="invalid-feedback">
            <div *ngIf="f.MainGoal.errors.required">MainGoal is required</div> 
        </div>
    </div>
    <div class="form-group">                       
        <select formControlName="FamilyStatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FamilyStatus.errors }" placeholder="FamilyStatus..." >
            <option *ngFor="let item of staticInfo.FamilyStatuses" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.FamilyStatus.errors" class="invalid-feedback">
            <div *ngIf="f.FamilyStatus.errors.required">FamilyStatus is required</div> 
        </div>
    </div>
    <div class="form-group">                       
        <select formControlName="FinanceStatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FinanceStatus.errors }" placeholder="FinanceStatus..." >
            <option *ngFor="let item of staticInfo.FinanceStatuses" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.FinanceStatus.errors" class="invalid-feedback">
            <div *ngIf="f.FinanceStatus.errors.required">FinanceStatus is required</div> 
        </div>
    </div>
    <div class="form-group">                       
        <select formControlName="Education" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Education.errors }" placeholder="Education..." >
            <option *ngFor="let item of staticInfo.Education" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.Education.errors" class="invalid-feedback">
            <div *ngIf="f.Education.errors.required">Education is required</div> 
        </div>
    </div>
    <div class="form-group">                       
        <select formControlName="Nationality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nationality.errors }" placeholder="Nationality..." >
            <option *ngFor="let item of staticInfo.Nationalities" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.Nationality.errors" class="invalid-feedback">
            <div *ngIf="f.Nationality.errors.required">Nationality is required</div> 
        </div>
    </div>
    <div class="form-group">                       
        <select formControlName="Zodiac" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Zodiac.errors }" placeholder="Zodiac..." >
            <option *ngFor="let item of staticInfo.Zodiacs" [value]="item.Id">{{item.Value}}</option>
        </select>
        <div *ngIf="submitted && f.Zodiac.errors" class="invalid-feedback">
            <div *ngIf="f.Zodiac.errors.required">Zodiac is required</div> 
        </div>
    </div>
    <div class="form-group"> 
        <input type="text" formControlName="Weight" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Weight.errors }" placeholder="Weight, kg..." />
        <div *ngIf="submitted && f.Weight.errors" class="invalid-feedback">
            <div *ngIf="f.Weight.errors.required">Weight is required</div> 
        </div>
    </div>
    <div class="form-group"> 
        <input type="text" formControlName="Growth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Growth.errors }" placeholder="Growth, m..." />
        <div *ngIf="submitted && f.Growth.errors" class="invalid-feedback">
            <div *ngIf="f.Growth.errors.required">Growth is required</div> 
        </div>
    </div>
    <div class="form-group"> 
        <input type="file" formControlName="Photo"  (change)="uploadPhoto()" class="form-control" placeholder="Photo..." /> 
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Let's start</button>
    </div>
</fieldset>
</form>
</div></div></div></div>