 
<nav class="navbar navbar-dark bg-dark mynav-cirlce" style="width: 100%; border-top-left-radius: 0%; border-top-right-radius: 0%">
  <a class="navbar-brand text-white" routerLink='/home/search' routerLinkActive='active'><img src="https://cdn.pixabay.com/photo/2017/09/23/16/33/pixel-heart-2779422_960_720.png" style="max-height: 50px; max-width: 75px">DatingWebsiteApp</a> 
  <a class="navbar-brand text-white" routerLink='/home/profile/0' routerLinkActive='active'>My Profile</a> 
  <a class="navbar-brand text-white" routerLink='/home/settings' routerLinkActive='active'>Settings</a> 
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button> </nav>
<div class="wrapper">
  <div class="wrapped-div"> 
    <div class="row">
      <div style="width: 100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>