
        <span *ngIf="isOnline" style="float:right; font-size: 80%; color:darkgrey; margin-right: 3%;">last seen {{this.datepipe.transform(isOnline, 'MMMM d, h:mm a')}}</span>
        <span *ngIf="isOnline == null" style="float:right; font-size: 80%; color:darkgrey; margin-right: 3%;">online</span><br/>
<div id="table_scroll" style="max-height: 500px; overflow: auto; margin-right: -2%;"> 
    <table *ngIf="messages.length>0" style="margin: 2%; width: 96%; background-color: slategrey; border-bottom-style: solid"> 
        <tr *ngFor="let mess of messages"> 
            <td style="width: 14%; padding: 1%;" class="text-center">
                <img *ngIf="mess.SenderAvatarPath" (click)="goToProfile(mess.SenderId)" class="avatar-chat" style="margin: 1%;" src="https://localhost:44394{{mess.SenderAvatarPath}}"/>
                <img *ngIf="!mess.SenderAvatarPath" (click)="goToProfile(mess.SenderId)" class="avatar-chat" style="margin: 1%;" src="/assets/img/no-image.png"/>
            </td>
            <td style="border-bottom: solid "> 
                <label style="display: flex;">{{mess.SenderName}}&nbsp;&nbsp;<b style="font-size: 65%">{{this.datepipe.transform(mess.DateSend, 'MMMM d, h:mm a')}}</b></label><br/>
                <div class="row" style="margin-top: -3%; max-width: 108%; margin-left: 0%;"> 
                    <p *ngIf="!mess.IsNew" style="font-size: 100%; width: 90%; color:#ffff; word-wrap: break-word; margin-right: 10px; word-break: break-all; white-space: pre-line;">{{mess.Text}}</p> 
                    <p *ngIf="mess.IsNew" onload="changeElement(new_mes)" id="new_mes" style="font-size: 100%; width: 90%; color:#ffff; word-wrap: break-word; margin-right: 10px; word-break: break-all; white-space: pre-line;">{{mess.Text}}</p> 
                </div>
                <button *ngIf="mess.FilePathes.length>0" (click)="OpenFiles=mess.FilePathes" onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-paperclip"></i>Show attachment</button><br/>
            </td>        
        </tr> 
    </table>
</div>
<div *ngIf="messages.length<1" > 
    <label class="text-center">No Message Yet</label>
</div><br/>
    <div *ngIf="!isBlock" class="row" style="width: 98.5%; margin-left: 2%;">
        <!-- <div *ngIf="IsOpenEmoji" class="row" style="width: 100%; margin-left: 1%">
            <div style="margin-top: 1%" class="container-chat">
                <div *ngFor="let em of Emojies.Emoji" class="item" (click)="outgoingMessage.Text = outgoingMessage.Text + em">
                    <p>{{em.toString()}}</p>
                </div>
            </div>  
        </div> -->
        <div  *ngIf="IsOpenEmoji">
            <emoji-mart title="Pick your emoji…" emoji="point_up" set="emojione" (emojiClick)="addEmoji($event)"
            [style]="{ position: 'absolute', bottom: '150px', right: '-170px' }"
            [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }">
            </emoji-mart>
        </div>        
        <textarea rows="12" placeholder="Enter message ... &#x1F981;" cols="60" [(ngModel)]="messageText" style="resize: none; height: 90px; width: 91%;"></textarea>
        <i class="far fa-laugh"style="position: absolute; margin-left: 85%; margin-top: 1%; background-color: #ffff;" (click)="IsOpenEmoji=!IsOpenEmoji"></i>
        <!-- <i *ngIf="IsOpenEmoji" class="far fa-laugh"style="position: absolute; margin-left: 85%; margin-top: 15%;" (click)="IsOpenEmoji=!IsOpenEmoji"></i> -->
        <button class="col-1" id="btn_send" (click)="onSendMessage()" onclick="document.getElementById('table_scroll').scrollTop = elem.scrollHeight"><i class="fas fa-envelope"></i></button> 
    </div>
<div *ngIf="!isBlock" class="row" style="width: 100%; margin-left: 1%">  
    <ngx-dropzone style="max-width: 89.5%; max-height: 48px; margin-left: 1%;" class="col-11" #dropzone [multiple]="true" [accept]="'image/*'" [maxFileSize]="5242880" [showPreviews]="true" (filesAdded)="onFilesAdded($event)" (filesRejected)="onFilesRejected($event)"></ngx-dropzone>
    <button class="col-1" (click)="dropzone.reset()" ><i class="fas fa-trash-alt"></i></button> 
</div>
<div *ngIf="isBlock" style="margin-left: 2%;">
    <label><i class="fas fa-user-lock"></i>You are in blackList</label> 
</div>
<div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:650px"> 
          <div class="w3-center"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <div class="row" style="width: 100%; margin-top: 4%; margin-left: 1%"> 
                <div style="padding-bottom: 1%;margin-top: 1%" class="container"> 
                    <div *ngFor="let photo of OpenFiles; let i = index" class="item text-center" > 
                    <img  (click)="open(i)" style="max-height: 100px; max-width: 100px;" src="https://localhost:44394{{photo}}" /> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> 
 <script>
 function changeElement(id) {
  var el = document.getElementById(id); 
  var bgcol = el.css( "background-color" );
  el.animate( { "background-color": "#84848421" } )
       .delay( 3000 )
       .animate( { "background-color": oldColor } ); 
}
</script> 