
.container {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  width: 90%;
  height: 90%;
  overflow:auto;
  margin: 0 auto;
  list-style: none;
  padding-left:0; 
}

.container>.item {
  padding: 12px;
  background-color: #ffff;
  align-content:center; 
}

.avatar {
  object-fit: cover;
  border-radius:50%;
  width: 100px;
  height: 100px;
}

.avatar-chat {
  object-fit: cover;
  border-radius:50%;
  width: 70px;
  height: 70px;
}

td{
  vertical-align: top;
}


.container-chat {
  display: grid;
  grid-template-columns: repeat(16, 29px);
  grid-row-gap: 30px;
  grid-column-gap: 10px; 
  height: 90%;
  overflow:auto;
  max-height: 90px;
  margin: 0 auto;
  list-style: none;
  padding-left:0; 
  margin-left: 0;
  width: 91%;
  margin-left: -1%;
}

.container-chat>.item {
  /* padding: 12px; */
  background-color: #ffff;
  align-content:center; 
}