<!-- <div class="jumbotron" style="height: 100%; padding-top:2%; background-color: #343a40;">   
    <div *ngIf="userId==0">
        <div class="row">
            <div class="col-10 offset-1"> 
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="row"> 
                    <div class="form-group col-5">
                        <label>Name</label>
                        <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required">Name is required</div> 
                        </div>
                    </div>
                    <div class="form-group col-5">
                        <label>Description</label>
                        <input type="text" formControlName="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }" />
                        <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                            <div *ngIf="f.Description.errors.required">Description is required</div> 
                        </div>
                    </div>
                    <div class="form-group col-2">
                        <button class="btn btn-primary">Create Album</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h2>Found {{albumList?.length}} album(s)</h2>

    <div class="row">
        <div class="col-2">
            <div class="container">
                <div *ngFor="let album of albumList" class="item text-center" > 
                    <label>{{album.Name}}</label>  
                    <div>
                        <button *ngIf="userId==0"  style="position: absolute;" (click)="onDeleteAlbum(album.Id)"><i class="fas fa-times"></i></button>
                        <img (click)="openAlbum(album.Id)" *ngIf="album.FilePath" style="max-height: 100px; max-width: 100px;" src="https://localhost:44394{{album.FilePath}}"/>
                        <img (click)="openAlbum(album.Id)" *ngIf="!album.FilePath" style="max-height: 100px; max-width: 100px;" src="/assets/img/no-image.png"/>
                    </div>  
                </div>  
            </div>
        </div>
        <div *ngIf="isOpen" class="col-10" style="padding-left: 0; background-color: #d6d6d6;">
            <app-album-detail [albumId]="albumId" [userId]="userId"></app-album-detail> 
        </div>
    </div>
</div>
          
     -->