<div class="jumbotron" style="height: 100%; padding-top:2%; background-color: #343a40;">   
    <!-- <div *ngIf="userId==0">
        <div class="row">
            <div class="col-10 offset-1"> 
            </div>
        </div>
    </div> -->
    <h2>Found {{chatList?.length}} album(s)</h2>

    <div class="row">
        <div class="col-2">
            <div class="container">
                <div *ngFor="let album of albumList" class="item text-center" > 
                    <label>{{album.Name}}</label>  
                    <div>
                        <button style="position: absolute;" (click)="onClearHistory(album.Id)"><i class="fas fa-times"></i></button>
                        <img (click)="openChat(album.Id)" *ngIf="album.FilePath" style="max-height: 100px; max-width: 100px;" src="https://localhost:44394{{album.FilePath}}"/>
                        <img (click)="openChat(album.Id)" *ngIf="!album.FilePath" style="max-height: 100px; max-width: 100px;" src="/assets/img/no-image.png"/>
                    </div>  
                </div>  
            </div>
        </div>
        <div *ngIf="isOpen" class="col-10" style="padding-left: 0; background-color: #d6d6d6;">
            <app-chat-detail [chatId]="chatId"></app-chat-detail> 
        </div>
    </div>
</div>
          
    